@font-face {
  font-family: "Anron Icons";
  src: url("fonts/Anron-Icons.eot?sdtdyr");
  src: url("fonts/Anron-Icons.eot?sdtdyr#iefix") format("embedded-opentype"),
    url("fonts/Anron-Icons.ttf?sdtdyr") format("truetype"),
    url("fonts/Anron-Icons.woff?sdtdyr") format("woff"),
    url("fonts/Anron-Icons.svg?sdtdyr#Anron-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.a-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Anron Icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-sort:before {
  content: "\e900";
}
.i-repeat:before {
  content: "\e901";
}
.i-link:before {
  content: "\e902";
}
.i-activity-rec:before {
  content: "\e903";
}
.i-alert-triangle:before {
  content: "\e904";
}
.i-arrow-bottom-rec:before {
  content: "\e905";
}
.i-arrow-left-rec:before {
  content: "\e906";
}
.i-arrow-right-rec:before {
  content: "\e907";
}
.i-arrow-top-rec:before {
  content: "\e908";
}
.i-bell:before {
  content: "\e909";
}
.i-bell-slash:before {
  content: "\e90a";
}
.i-bookmark:before {
  content: "\e90b";
}
.i-book-open:before {
  content: "\e90c";
}
.i-box-2:before {
  content: "\e90d";
}
.i-briefcase-2:before {
  content: "\e90e";
}
.i-calendar-dates:before {
  content: "\e90f";
}
.i-call-incoming:before {
  content: "\e910";
}
.i-camera:before {
  content: "\e911";
}
.i-camera-slash:before {
  content: "\e912";
}
.i-chart-column:before {
  content: "\e913";
}
.i-chart-pie:before {
  content: "\e914";
}
.i-checkbox-circle:before {
  content: "\e915";
}
.i-clock:before {
  content: "\e916";
}
.i-comment-2-text:before {
  content: "\e917";
}
.i-comments-2:before {
  content: "\e918";
}
.i-compass:before {
  content: "\e919";
}
.i-copy:before {
  content: "\e91a";
}
.i-credit-card:before {
  content: "\e91b";
}
.i-dashboard:before {
  content: "\e91c";
}
.i-diskette:before {
  content: "\e91d";
}
.i-elements:before {
  content: "\e91e";
}
.i-elements-plus:before {
  content: "\e91f";
}
.i-email:before {
  content: "\e920";
}
.i-emotion-smile:before {
  content: "\e921";
}
.i-export-2:before {
  content: "\e922";
}
.i-eye:before {
  content: "\e923";
}
.i-eye-slash:before {
  content: "\e924";
}
.i-file-download:before {
  content: "\e925";
}
.i-file-text:before {
  content: "\e926";
}
.i-flag-2:before {
  content: "\e927";
}
.i-folder:before {
  content: "\e928";
}
.i-folder-open:before {
  content: "\e929";
}
.i-gear-2:before {
  content: "\e92a";
}
.i-gps:before {
  content: "\e92b";
}
.i-gps-slash:before {
  content: "\e92c";
}
.i-heart:before {
  content: "\e92d";
}
.i-home:before {
  content: "\e92e";
}
.i-image-3:before {
  content: "\e92f";
}
.i-import-2:before {
  content: "\e930";
}
.i-inbox-filled:before {
  content: "\e931";
}
.i-lifebuoy:before {
  content: "\e932";
}
.i-lightning:before {
  content: "\e933";
}
.i-lightning-slash:before {
  content: "\e934";
}
.i-lock-2:before {
  content: "\e935";
}
.i-lock-2-opened:before {
  content: "\e936";
}
.i-log-in-2:before {
  content: "\e937";
}
.i-log-out-2:before {
  content: "\e938";
}
.i-megaphone:before {
  content: "\e939";
}
.i-mic:before {
  content: "\e93a";
}
.i-mic-slash:before {
  content: "\e93b";
}
.i-minus-rec:before {
  content: "\e93c";
}
.i-modules:before {
  content: "\e93d";
}
.i-moon:before {
  content: "\e93e";
}
.i-more-horiz:before {
  content: "\e93f";
}
.i-more-vert:before {
  content: "\e940";
}
.i-mouse:before {
  content: "\e941";
}
.i-music-note-2:before {
  content: "\e942";
}
.i-new-release:before {
  content: "\e943";
}
.i-note-text:before {
  content: "\e944";
}
.i-pen-tool-2:before {
  content: "\e945";
}
.i-phone:before {
  content: "\e946";
}
.i-pin:before {
  content: "\e947";
}
.i-plus-rec:before {
  content: "\e948";
}
.i-presentation-chart:before {
  content: "\e949";
}
.i-receipt:before {
  content: "\e94a";
}
.i-search:before {
  content: "\e94b";
}
.i-send-2:before {
  content: "\e94c";
}
.i-server-2:before {
  content: "\e94d";
}
.i-shopping-bag:before {
  content: "\e94e";
}
.i-shopping-bag-2:before {
  content: "\e94f";
}
.i-sliders-horiz-2:before {
  content: "\e950";
}
.i-star:before {
  content: "\e951";
}
.i-sun:before {
  content: "\e952";
}
.i-swatchbook:before {
  content: "\e953";
}
.i-thumbs-up:before {
  content: "\e954";
}
.i-ticket:before {
  content: "\e955";
}
.i-trash:before {
  content: "\e956";
}
.i-trophy:before {
  content: "\e957";
}
.i-user:before {
  content: "\e958";
}
.i-user-plus:before {
  content: "\e959";
}
.i-users:before {
  content: "\e95a";
}
.i-video-camera:before {
  content: "\e95b";
}
.i-video-camera-slash:before {
  content: "\e95c";
}
.i-volume-high:before {
  content: "\e95d";
}
.i-volume-slash:before {
  content: "\e95e";
}
.i-wallet:before {
  content: "\e95f";
}
.i-webcam:before {
  content: "\e960";
}
.i-webcam-slash:before {
  content: "\e961";
}
.i-yin-yang:before {
  content: "\e962";
}
